body{
  text-align: center;
  background-color: #ADD8E6
}

.top-container{

}


.ah{
    margin: auto;
    bottom: 200px;
    text-align: center;
    font-size: 40px;

}

.down-p{
  bottom: 200px;
  text-align: center;
}

.aj{
    margin: 0px;
}

.web{
    text-decoration:underline;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 450px;
}

.Top-cloud{
  position: absolute;
  right: 230px;
  bottom: 540px;
}

.mountain{
  image-resolution: snap;
}

.myself{
  border-radius: 50%;
  padding: 20px;
}
